@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box; /* stops margin and padding from affecting actual width and height of nested element*/
  margin: 0;
  padding: 0;
  color: #000000;
}

:root {
  --primary-color: #000000;
  --secondary-color: #FFFFFF;
  --active-color: red;
}

body {
  font-family: 'Radio Canada', sans-serif;
  background-color: var(--secondary-color);
  /* color: var(--primary-color); */
  line-height: 1.6;
}

/* Styles message box on home page for message to user when they submit their information on the contact form */
.modal-msg {
  font-size: 26px;
  background-color: var(--active-color);
  border: 1px solid var(--active-color);
}

nav {
  background-color: var(--primary-color);
  padding: 8px 0;
}

nav .container {
  display: flex;
  justify-content: space-between;
}

/* Styles for div that surrounds the menu items (NavLink components) */
.nav-items {
  display: flex;
  justify-content: space-between;

}

/* Styles for NavLink component */
.nav-link {
  color: var(--secondary-color);
  text-decoration: none;
  border: 1px solid var(--secondary-color);
  padding: 3px 8px;
  margin: 2px;
  transition: ease 0.31s;
}

.nav-link:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/* Sets Active Link */
.link-active {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.nav-link-home {
  color: var(--secondary-color);
  text-decoration: none;
  border: 1px solid var(--secondary-color);
  background: var(--primary-color);
  padding: 8px;
  transition: ease 0.39s;
}

.nav-link-home:hover {
  background-color: var(--active-color);
  color: var(--primary-color);
}


.logo {
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  border-radius: 50%;
  padding: 3px 8px;
  margin: 2px;
}

/* Styles for Card component */
.panel {
  border: 1px solid #ACACAC;
  box-shadow: 0 4px 15px 0 #D3D3D3;
  color: var(--primary-color);
  padding: 15px 20px 20px;
  margin: 7px 0;
  transition: 0.3s ease;
}

.panel:hover {
  box-shadow: 0 6px 29px 0 #D3D3D3;
}

.form-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  display: block;
  margin: 5px;
  padding: 5px;
  font-size: 1.1rem;
}

form textarea {
  margin: 5px;
  padding: 5px;
  font-size: 1.1rem;
}

/* Button styles for submit button on Contact Information page */
.form-button {
  display: block;
  margin: 2px 5px;
  padding: 8px 11px;
  font-size: 19px;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transition: ease 0.31s;
}

.form-button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  cursor: pointer;
}

.form label {
  display: block;
  margin: 10px 0px 0px 9px;
  font-size: 1.1rem;
}

article {
  margin-top: 5px;
  margin-bottom: 5px;
}

section {
  border-top: 1px solid #000000;
  margin-bottom: 8px;
}

.btm-border {
  border-bottom: 1px solid var(--primary-color);
  padding-bottom: 10px;
  margin-bottom: 9px;
}

ul {
  padding-left: 30px;
}

.grid-c-wrapper {
  display: grid;
  justify-items: stretch;
  grid-template-columns: 250px 1fr;
}

.grid-wrapper {
  display: grid;
  /* justify-content: start; */
  justify-items: stretch;
  grid-template-columns: 200px 1fr;
}

.grid-wrapper h2 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.grid-wrapper img {
  grid-column-start:1;
  grid-column-end: 2;
  border: 1px solid var(--primary-color);
}

.grid-wrapper p {
  grid-column-start:2;
  grid-column-end: 3;
  padding: 0px 0px 7px 7px;
}

.grid-wrapper .btn-toggles  {
  grid-column-start: 1;
  grid-column-end: 3;
}

.grid-wrapper .grid-form {
  grid-column-start: 1;
  grid-column-end: 3;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.err-msg {
  color: red;
  border-bottom: 1px solid red;
  padding-bottom: 10px;
  text-align: center;
}

.loading {
  padding: 30px;
  text-align: center;
}

/* Button styles for signout button on nav bar */
.nav-button {
  color: var(--secondary-color);
  text-decoration: none;
  border: 1px solid var(--secondary-color);
  background: var(--primary-color);
  padding: 3px 8px;
  margin: 2px;
  font-size: 1.1rem;
  transition: ease 0.31s;
}

.nav-button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  cursor: pointer;
}

.btn-basic {
  color: var(--secondary-color);
  text-decoration: none;
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
  padding: 10px 8px;
  margin: 2px;
  font-size: 1.1rem;
  transition: ease 0.22s;
}

.btn-basic:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  cursor: pointer;
}

.btn-red {
  color: var(--secondary-color);
  text-decoration: none;
  background-color: #CC5500;
  border: 1px solid #CC5500;
  padding: 10px 8px;
  margin: 2px;
  font-size: 1.1rem;
  transition: ease 0.22s;
}

.btn-red:hover {
  background-color: #FF0000;
  border: 1px solid #FF0000;
  /* color: var(--primary-color); */
  cursor: pointer;
}

.btn-hv-red {

  color: var(--secondary-color);
  text-decoration: none;
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
  padding: 10px 8px;
  margin: 2px;
  font-size: 1.1rem;
  transition: ease 0.22s;
}
.btn-hv-red:hover {
  background-color: #CC5500;
  border: 1px solid #CC5500;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.modal-wrn {
  opacity: 0;
  animation: fadeIn 0.8s forwards;

  background-color: #efef8d;
  color: #1c1c84;
  border: 1px solid #1c1c84;
  position: sticky;
  top: 10px;
  padding: 25px;
}

.flex-btns {
  display: flex;
  justify-content: center;
}